aioredis==1.3.1
amqp==5.3.1
appnope==0.1.4
asgiref==3.8.1
asttokens==3.0.0
async-timeout==5.0.1
attrs==19.3.0
autobahn==24.4.2
Automat==24.8.1
backcall==0.2.0
beautifulsoup4==4.12.3
billiard==4.2.1
bleach==6.2.0
boltons==20.2.1
build==1.2.2.post1
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
channels==3.0.4
channels-redis==2.4.2
chardet==3.0.4
charset-normalizer==3.4.0
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
commonmark==0.9.1
constantly==23.10.4
cryptography==43.0.3
daphne==3.0.2
decorator==5.1.1
defusedxml==0.7.1
Django==4.2.16
django-bootstrap4==24.4
django-extensions==3.2.3
djangorestframework==3.15.2
docopt==0.6.2
drf-yasg==1.21.8
exceptiongroup==1.2.2
executing==2.1.0
factory_boy==3.3.1
Faker==33.0.0
fastjsonschema==2.21.1
hiredis==3.0.0
hyperlink==21.0.0
hypothesis==5.49.0
hypothesis-jsonschema==0.20.1
idna==2.10
importlib_metadata==8.5.0
incremental==24.7.2
inflection==0.5.1
iniconfig==2.0.0
ipython==8.12.3
jedi==0.19.2
Jinja2==3.1.5
jsonschema==3.2.0
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kombu==5.4.2
MarkupSafe==3.0.2
matplotlib-inline==0.1.7
mistune==3.1.0
msgpack==0.6.2
multidict==5.2.0
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
packaging==24.2
pandocfilters==1.5.1
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.0.0
pip-tools==7.4.1
pipreqs==0.5.0
platformdirs==4.3.6
pluggy==1.5.0
prompt_toolkit==3.0.48
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pydantic==1.9.2
pydot==3.0.3
Pygments==2.18.0
pyOpenSSL==24.2.1
pyparsing==3.2.0
pyproject_hooks==1.2.0
pyrsistent==0.20.0
pytest==8.3.3
pytest-subtests==0.2.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==5.3.1
pyzmq==26.2.0
redis==5.0.7
requests==2.24.0
rich==9.13.0
schemathesis==1.1.0
service-identity==24.2.0
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.6
sqlparse==0.5.1
stack-data==0.6.3
swagger-client @ file:///Users/ruthdeborah/Documents/BSc_UOL_ComputerScience/Level%206/CM3035_AWD/Progress_Files/topic2/python_client
swagger-codegen==0.1.31
tinycss2==1.4.0
toml==0.10.2
tomli==2.1.0
tornado==6.4.2
traitlets==5.14.3
Twisted==24.10.0
txaio==23.1.1
typer==0.3.2
typing_extensions==4.12.2
tzdata==2024.2
uritemplate==3.0.1
urllib3==1.25.11
vine==5.1.0
wcwidth==0.2.13
webencodings==0.5.1
Werkzeug==3.1.3
yarg==0.1.9
zipp==3.21.0
zope.interface==7.1.1
